<app-navbar></app-navbar>
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to Your Lab Management System!</h1>
        <p class="lead">This application allows you to manage Lap Reports and Patient information efficiently.</p>
        <hr class="my-4">
        <p>Click on the buttons below to navigate to different sections:</p>
        <a class="btn btn-primary btn-lg" routerLink="/Patients" role="button">Patients</a>
        <a class="btn btn-primary btn-lg" routerLink="/LabReports" role="button">Lab Reports</a>
    </div>
</div>